/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .profile_image {
  border-radius: 50%;
  width: 70%;
  height: 70%;
}

 .profile_image_mypage {
  border-radius: 50%;
  width: 70px;
  height: 70%;
}

.entry_image {
  /*border-radius: 80%;*/
  width: 100%;
  height: 100%;
}

.anirev {
  font-size: 25px;
  font-family: 'Abel', sans-serif;
}

@media screen and (min-width: 1400px) {
  /*1400px以上で適用する内容*/
  .container {
    max-width: 1340px;
  }
}

@media screen and (max-width:575px) {
  /*575px以下で適用する内容*/
  #target {
    text-align: center;
  }
  #target1 {
    justify-content: center;
  }
}
